body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    
}


a {
/* this removes the line under the links */
    text-decoration: none;
    color: #f9faf8;  
}


ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.signup {
    padding-left: 0em; /* need to move buttons over without stretching them */
    background: #3882f6;
    color: #f9faf8;
    box-shadow: 2px 4px 16px #0b0da3da; /*don't like the button shadow color */
    border-radius: 2px;
    max-width: 64px;
    max-height: 48px;
}


.topline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f2937;
    color: #f9faf8;
    text-indent: 125px;
    padding-right: 5em;
}


.header {
    background: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
    display: flex;
    align-items: center;  
    text-indent: 125px;
}


.topbar {
    background: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
}

.topcontent {
    background: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    text-indent: 125px; /* not sure why text indent here also indents the subtext below */
}


.heromain {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.herosub {
    font-size: 18px;
    color: #e5e7eb;
}


.information {
  background-color: #f9faf8;
  color: #1f2937;  

}

.informationhero {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}


.infomaster {
    display: flex;
    align-items: center;   
    justify-content: space-evenly;
    text-indent: 0%;
    text-align: center;    
}

.image {
    border: 4px solid #3882f6;
    border-radius: 25px;
    padding: 20px;
    width: 100px;
    height: 100px;
}


.text {
    max-width: 150px;
    word-wrap: normal;
}

.infopic {
    display: flex;
    align-items: center;
    justify-content: center;   
    flex-direction: column; 
    gap: 8px;
    padding: 12px;
}


.quotation {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: larger;
    text-indent: 125px;
    text-align: center;
    
}

.quote {
    font-size: 36px;
    font-style: italic;
    text-indent: 125px;
    word-wrap: normal;
}

.action {
    background-color: #f9faf8;
    display: flex;
    flex-direction: row;
}
.banner {
    background-color: #3882f6;
    /*need text in a blue box */
    border: 2px solid #3882f6;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 500px;
    height: 250px;
  
}
















































.footer {
    height: 52px;
    background: #1f2937;
    color: #f9faf8;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }