body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    text-indent: 125px;
    background: #1f2937;
}


a {
/* this removes the line under the links */
    text-decoration: none;
    color: #f9faf8;  
}


ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.signup {
    padding-left: 0em; /* need to move buttons over without stretching them */
    background: #3882f6;
    color: #f9faf8;
    box-shadow: 2px 4px 16px #0b0da3da; /*don't like the button shadow color */
    border-radius: 4px;
    max-width: 64px;
    max-height: 48px;
}


.topline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f2937;
    color: #f9faf8;
    padding-right: 5em;
}


.header {
    background: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
    display: flex;
    align-items: center;  
}


.topbar {
    background: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
}

.topcontent {
    background: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
}


.heromain {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.herosub {
    font-size: 18px;
    color: #e5e7eb;
}


.information {
  background-color: #f9faf8;
  color: #1f2937;
  padding: 5em;

}

.informationhero {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}


.infomaster {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5em;
}

.infopic {
    display: flex;
    align-items: center;
    justify-content: center;    
}


.quotation {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: larger;
    
}

.quote {
    font-size: 36px;
    font-style: italic;
    padding: 5em;
}


.banner {
    background-color: white;
    /*need text in a blue box */
    display: flex;
}
















































.footer {
    height: 52px;
    background: #1f2937;
    color: #f9faf8;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }